/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #74ebd5, #c514bc);
    min-height: 100vh;

}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
